#app {
  display: flex;
}

#navbar {
  max-width: 5rem;
  background-color: #FBFAFF;
}

#main-content {
    width: 150rem;
    background-color: #F3F4F8;
}

.top-content {
    background-color: #FFFFFF;
}

h1 {
    font-size: 1rem;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.svg {
    width: 0.8rem;
    margin: 0.5rem
}

.center {
    align-items: center;
}

select {
    border: 0;
}

.select {
    display: flex;
    align-items: baseline;
    margin: 2rem;
    border: solid 1px;
}

.search {
    border: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    border: solid 2px;
}


