#app {
  display: flex;
}

#navbar {
  max-width: 5rem;
}

#main-content {
    width: 150rem;
}

h1 {
    font-size: 1rem;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.svg {
    width: 0.8rem;
    margin: 0.5rem
}

.baseline {
    align-items: baseline;
}

.select {
    display: flex;
    align-items: baseline;
    margin: 2rem;
}


